<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Blog o  ciastku</title>
</head>
<body>
<header th:replace="layout :: site-header" />


<section class="banner-section" th:class="banner-section"  >

</section>
<section class="post-content-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 post-title-block">

                <h1 class="text-center">Dodaj post</h1>
            </div>

            <div class="col-lg-9 col-md-9 col-sm-12">
                <div class="full col-sm-9">
                    <div class="row">
                        <form autocomplete="off" action="#" th:action="@{/admin/addBlogPost}"
                              th:object="${blogPost}" method="post" class="form-horizontal"
                              role="form">
                            <h2>Dodaj post</h2>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input id="title" type="text" th:field="*{title}" placeholder="Title"
                                           class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <textarea rows="4" cols="50" id="text" type="text" th:field="*{text}" placeholder="Text"
                                           class="form-control" > a </textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary btn-block" id="post">Add post</button>
                                </div>
                            </div>
                            <span class="error" th:utext="${error}"></span>
                            <span class="successMSG" th:utext="${successMessage}"></span>

                        </form>
                    </div>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-12">
                    <div class="well">
                        <ul class="list-inline">
                            <li>
                                <a><h3>All posts</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i></a>
                            </li>

                            <li th:each="p : ${blogPosts}">
                                <h3><a href="#"  class="nav-link" th:text="${p.title}" th:href="@{/admin/blogPost/{id}/(id=${p.id})}">posty</a>

                                </h3>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>