<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Blog o  ciastku</title>
</head>
<body>
<header th:replace="layout :: site-header" />

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/admin/addBlogPost}"
                  th:object="${blogPost}" method="post" class="form-horizontal"
                  role="form">
                <h2>Registration Form</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="title" type="text" th:field="*{title}" placeholder="Title"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input id="text" type="text" th:field="*{text}" placeholder="Text"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <select id="text" class="form-control">
                            <option th:value="*{}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block" id="post">Add post</button>
                    </div>
                </div>

                <span class="successMSG" th:utext="${successMessage}"></span>

            </form>
        </div>
    </div>
</div>
</body>
</html>