<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Blog o  ciastku</title>
</head>
<body>
<header th:replace="layout :: site-header" />

<div class="container">

    <div class="panel-group" style="margin-top:40px">

        <div class="panel panel-primary">
            <div class="panel-heading" id="name">
                <span th:utext="${userName}" > </span>
            </div>
            <p class="admin-message-text text-center" th:utext="${adminMessage}">  </p>
            <img th:src="@{/images/mercy.gif}" class="image-fluid" width="50%" >
        </div>


    </div>

</div>
</body>
</html>